<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      <ion-icon style="zoom:1.8;" (click)="backhome()" name="arrow-back-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon style="zoom:1.5;" name="home-outline" slot="start"></ion-icon>
      <ion-label>{{data.farm_name}}</ion-label>
    </ion-item>


    <ion-grid style="display: flex; justify-content: center; align-items:  center;">

      <!-- <ion-button (click)="openCalendar()">aaa</ion-button> -->
      <ion-icon (click)="openCalendar()" style="zoom:2.8;" name="arrow-back-outline" id="open-modal"
        name="calendar-outline"></ion-icon>

    </ion-grid>

    <ion-card-header>
      สถิติ
    </ion-card-header>
    <ion-card-content >
      <canvas #lineCanvas style=" height: 360px;"></canvas>

    </ion-card-content>
   
  </ion-card>

</ion-content>